
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='frontpage.css')}}">
    <title>HOME</title>
  </head>
  <header>
    <nav class="container">
      <label for="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </label>
      <input type="checkbox" id="hamburger">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li>
          <a href="#">
            <span>HexaCorp</span>
            <span>Employee Training Management System</span>
          </a>
        </li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </nav>
  </header>
  
  <section class="Section">
      <button onclick="document.location='{{url_for('AdminLogin')}}'"class="Button Button__one" >ADMIN</button>
      <button onclick="document.location='{{url_for('HrLogin')}}'"class="Button Button__two">HR</button>
      <button class="Button Button__three">EMPLOYEE</button>
    </section>
   
    <html lang="en">


<body>
    <footer class="footer">
            <p class="company-name">
                Copyright © 2022 HexaCorp LLC. All rights reserved.
            </p>
        </div>
    </footer>
</body>

</html>