<header>
    <nav class="container">
      <label for="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </label>
      <input type="checkbox" id="hamburger">
      <ul>
        <li>Hr Login</li>
        <li></li>
        <li></li>
        <li>
          <a href="#">
            <span>HexaCorp</span>
            <span>Employee Training Management System</span>
          </a>
        </li>
        <li></li>
        <li></li>
        <li>No account?please register</li>
      </ul>
    </nav>
  </header>
<div class="hero">
    <div class="form-box">
        <div class="button-box">
            <div id="btn"></div>
            <button type="button" class="toggle-btn" onclick="login()">Login</button>
            <button type="button" class="toggle-btn" onclick="register()">Register</button>
        </div>

       

        <form id="login" class="input-group">
            <input type="text" class="input-field" placeholder="User ID" required>
            <input type="password" class="input-field" placeholder="Enter Password" required>
            <input type="checkbox" class="check-box" name="checkbox">
            <label for="checkbox">Remember Password</label>
            <button type="submit" class="submit-btn">Login</button>
        </form>

        <form id="register" class="input-group">
            <input type="text" class="input-field" placeholder="Employee ID" required>
            <input type="text" class="input-field" placeholder="First Name" required>
            <input type="text" class="input-field" placeholder="Last Name" required>
            <!-- <input type="password" class="input-field" placeholder="Enter Password" required> -->
            <input type="email" class="input-field" placeholder="Email ID" required>
            <input type="password" class="input-field" placeholder="Enter Password" required>
            <input type="checkbox" class="check-box" name="checkbox">
            <label for="checkbox">I agree with the terms and conditions.</label>
            <button type="submit" class="submit-btn">Register</button>
        </form>
    </div>
</div>
<body>
    <footer class="footer">
            <p class="company-name">
                Copyright © 2022 HexaCorp LLC. All rights reserved.
            </p>
        </div>
    </footer>
</body>
<link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}">
<script src="{{ url_for('static', filename='login.js')}}"></script>